*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #99aa9a;
    font-family: sans-serif;
}

ul.menu {
    color: black;
    position: relative;
    cursor: pointer;
}

ul.menu li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.menu .submenu {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: #489a61;
    border-radius: 1rem;
    padding: 1rem;
    transition: all .3s ease;
    z-index: 1000;
}

.menu .submenu li {
    color: white;
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: background .2s ease;
}

.menu .submenu li:nth-child(1):hover {
    background-color: #bbdfd6;
}
.menu .submenu li:nth-child(2):hover {
    background-color: #d0a3b4;
}
.menu .submenu li:nth-child(3):hover {
    background-color: #c8c75b;
}
.menu .submenu li:nth-child(4):hover {
    background-color: #91b747;
}
.menu .submenu li:nth-child(5):hover {
    background-color: #a084c5;
}
.menu .submenu li:nth-child(6):hover {
    background-color: #eee7a9;
}
.menu .submenu li:nth-child(7):hover {
    background-color: #e3cbcb;
}
.menu .submenu li:nth-child(8):hover {
    background-color: #b1d4c2;
}
.menu .submenu li:nth-child(9):hover {
    background-color: #63b232;
}
.menu .submenu li:nth-child(10):hover {
    background-color: #ab72dd;
}

.menu:hover .submenu {
    top: 100%;
    opacity: 1;
    pointer-events: all;
}

.menu .submenu li {
    display: block;
    width: 100%;
}